* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
  font-weight: 550;
}

p {
  font-size: 1.25em;
}

button {
  font-size: 2em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #f02518;
}
button :hover {
  background-color: #b41e14;
}

.color-acento {
  color: #b41e14;
}

.row {
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1300px;
  margin: auto;
}

footer {
  background-color: rgb(230, 230, 230);
}
footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}
footer .container {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header {
  background-color: #f02518;
}
header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: 720;
  color: white;
  font-size: 2em;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: 550;
  color: white;
}
header a:hover {
  color: rgb(177, 177, 177);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  padding: 0px 25px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/fondo-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}

form {
  /*max-width: 700px;*/
  margin: 50px 20px;
  background-color: #b41f14;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

#formulario h2 {
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

#formulario input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 1em;
  border: none;
}

#formulario textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  font-size: 2em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: black;
  background-color: white;
}
#boton :hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

#main-nosotros {
  margin: 0;
  text-align: justify;
}
#main-nosotros h1 {
  text-align: center;
}
#main-nosotros .imagen-nosotros {
  display: none;
}
#main-nosotros .colontainer {
  height: 80vh;
}

#main-productos {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
#main-productos .container {
  padding: 50px 0px;
}
#main-productos h1 {
  margin-top: 0;
}
#main-productos h2 {
  font-size: 2.8em;
}
#main-productos h3 {
  text-align: center;
  margin-top: 0;
}
#main-productos p {
  display: none;
}
#main-productos button {
  font-size: 1em;
  border-radius: 8px;
}
#main-productos .card {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#main-promos {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
#main-promos .container {
  padding: 50px 0px;
}
#main-promos h1 {
  margin-top: 0;
}
#main-promos h2 {
  font-size: 2.8em;
}
#main-promos h3 {
  text-align: center;
  margin-top: 0;
}
#main-promos button {
  font-size: 1em;
  border-radius: 8px;
}
#main-promos .card {
  background-position: center center;
  background-size: cover;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 720px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header .logo {
    padding: 25px 25px;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  #hero .container {
    display: flex;
    align-items: baseline;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    padding: 0px 25px;
    margin: 0;
  }
  #hero .container p {
    width: 50%;
    max-width: 800px;
  }
  #hero .container h1 {
    margin-bottom: 0;
  }
  #hero .container button {
    font-size: 1.5em;
  }
  #main-productos .card {
    width: 25%;
    padding: 15px;
  }
  #main-productos p {
    display: block;
  }
  #main-promos p {
    display: block;
  }
  #formulario {
    height: 80vh;
  }
  footer {
    margin-top: auto;
  }
  footer .container {
    justify-content: flex-end;
  }
  #main-nosotros {
    padding: 60px 30px;
    min-height: 90vh;
  }
  #main-nosotros .imagen-nosotros {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
