footer {
  @media (min-width: 720px) {
    margin-top: auto;
  }
  background-color: rgb(230, 230, 230);
  p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
  }
  .container {
    @media (min-width: 720px) {
      justify-content: flex-end;
    }
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
