header {
  background-color: #f02518;
  .logo {
    @media (min-width: 720px) {
      .logo {
        padding: 25px 25px;
      }
      padding: 25px 25px;
    }
    margin: 0;
    padding: 25px 30px;
    font-weight: 720;
    color: white;
    font-size: 2em;
  }
  .container {
    @media (min-width: 720px) {
      flex-direction: row;
      justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  a:hover {
    color: rgb(177, 177, 177);
  }
}
